@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');

    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.ttf');

    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.ttf');

    font-weight: 300;
}

body {

    margin: 0px;
    background-color: white;

    --background-top: #fff;
    --background-bottom: #b6b6b6;

    --invert-icon: 0;
    --background-opacity: 0;

    --main-color: black;

    color: var(--main-color);

    font-family: "Poppins", monospace;


    display: flex;
    flex-direction: column;


    height: 100vh;

    user-select: none;
}

body.white-text{
    --main-color: white;
    --invert-icon: 1;
}

.header {

    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

input {

    width: min(80%, 400px);
    text-align: center;
    font-size: 1.5em;
    height: 40px;
    box-sizing: border-box;

    font-family: 'Poppins';

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    border: 2px var(--main-color) solid;

    color: var(--main-color);

    background-color: transparent;
}

input::placeholder{

    color: var(--main-color);
}

button {

    border: 2px var(--main-color) solid;
    background-color: var(--main-color);

    color: var(--background-top);

    border-left: 0px;

    width: 50px;
    height: 40px;

    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    transition: background-color .3s ease-out, color .3s ease-out;
}

button:hover {

    color: var(--main-color);
    background-color: transparent;
}

input:focus {

    outline: none;
}


.viewport {

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {

    padding: 0px;
    margin: 0px;

    font-size: 130px;

    line-height: 1;
}



.info-container {

    text-align: center;
}


.hidden {

    display: none !important;
}

#icon {

    width: 100px;
    user-select: none;

    filter: invert(var(--invert-icon));
}

.location {


    margin-bottom: 30px;
}

.main-info {

    display: flex;
    gap: 30px;
}

.background-gradient{

    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(var(--background-top), var(--background-bottom));

    width: 100%;
    height: 100%;

    z-index: -1;
}


.clear-day {

    --background-top: #FDB813;
    --background-bottom: #FF6F00;
    --invert-icon: 1;


    --main-color: white;
}

.clear-night {
    --background-top: #0F2027;
    --background-bottom: #203A43;
    --invert-icon: 1;

    --main-color: white;
}

.partly-cloudy-day {
    --background-top: #89CFF0;
    --background-bottom: #A0AEC0;
    --invert-icon: 1;

    --main-color: white;
}

.partly-cloudy-night {
    --background-top: #373B44;
    --background-bottom: #2C3E50;
    --invert-icon: 1;

    --main-color: white;
}

.cloudy {
    --background-top: #AAB7B8;
    --background-bottom: #6C757D;
    --invert-icon: 1;

    --main-color: white;
}

.rain {
    --background-top: #3A6073;
    --background-bottom: #16222A;
    --invert-icon: 1;

    --main-color: white;
}

.snow {
    --background-top: #E0EAFC;
    --background-bottom: #CFDEF3;
    --invert-icon: 0;

    --main-color: black;
}


.background{
    
    opacity: 0;
}

.transition .background{
    
    transition: opacity 1s linear;
}

.background.visible-background{

    opacity: 1;
}